@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<div style="color: antiquewhite">
    <section>
        <p class="lead" style=" color: coral">
            A healthy lifestyle is about more than just proper nutrition and consistent exercise. Getting enough sleep, taking care of your body and mind, and managing things like medications and doctor’s appointments also play important roles in staying healthy.

            A good app can be a great way to manage it all. That’s why HealthMe tested a variety of different healthy lifestyle apps. We chose the year’s best based on content, reliability, and user reviews.
        </p>
        <p class="lead" style=" color:coral">
            Using HealthyMe you can book an appointment and find trainers for yourself. You can also view your diet and the exercise that would be most preferable to you.

            We believe in the feedback approach so we would request you to rate the appointments.
        </p>
        <p class="lead" style=" color: coral">
           Hope you have a great experience!! 
        </p>

    </section>
</div>

@*Reference: https://www.healthline.com/health/mental-health/top-healthy-lifestyle-iphone-android-apps*@
